@import "common-styles/variables.css";
@import "common-styles/navbar.css";
@import "common-styles/button.css";
@import "common-styles/margin.css";
@import "common-styles/padding.css";
@import "common-styles/typography.css";
@import "common-styles/utils.css";

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e1e7f7;
}

.page-contents h6 {
  margin-top: 1rem;
}

.page-wrapper {
  padding-top: 130px;
}

.refresh {
  padding: 5px;
  position: absolute;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  top: 125px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refresh path {
  fill: var(--primary-color);
}
