@import "styles/variables.css";
@import "styles/navbar.css";
@import "styles/button.css";
@import "styles/margin.css";
@import "styles/padding.css";
@import "styles/typography.css";
@import "styles/utils.css";

body {
  padding: 0;
  margin: 0;
  background-color: #e1e7f7;
}

.page-contents h6{
  margin-top: 1rem;
}