.box-shadow {
  box-shadow: var(--default-box-shadow);
}

.cursor-pointer {
  cursor: pointer;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-left {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
