.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.card {
  font-size: 164px;
  width: 300px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
}
