.example3-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.example3-box {
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
}
