.example7-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 100px;
  align-items: initial;
  padding: 0px 50px;
}

.example7-box {
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.small-box{
  width: 10px;
  height: 10px;
  background-color: white;
  padding: 10px;
  list-style: none;
  margin: 0.5rem;
}